*{
    margin: 0;
    padding: 0;
    list-style: none;
}
header{
    width: 100%;
    height: 4rem;
    background: white;
    border-bottom: 0.01rem solid #f4f4f4;
    .hea-le{
        width: 35%;
        height: 100%;
        float: left;
        img{
            width: 7rem;
            height: 2.5rem;
            margin-top: 0.7rem;
            margin-left: 0.5rem;
        }
    }
    .hea-zho{
        width: 37%;
        height: 100%;
        float: left;
        font-size: 1.4rem;
        line-height: 4rem;
        text-align: center;
    }
    .hea-ri{
        width: 20%;
        height: 100%;
        float: right;
        background: white;
        ul{
            width: 100%;
            height: 100%;
            list-style: none;
//          background: red;
            li{
                width: 48%;
                height: 100%;
                float: right;
//              background: blue;
                text-align: center;
                span{
                    font-size: 1.3rem;
                    color: #999999;
                }
                p{
                    font-size: 0.7rem;
                    color: #999999;
                }
                .p1{
                    margin-top: 1rem;
                }
            }
        }
    }
}
.box1{
    width: 100%;    
    margin-top: 0.5rem;
//  border-top: 0.5rem solid #F4F4F4;
    ul{
        width: 100%;
        background: white;
        hr{
            width: 90%;
            margin: 0 auto;
        }
        li{
            width: 100%;
            height: 7rem;
            .box1-1{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 100%;
                float: left;
                img{
                    width: 80%;
                    height: 80%;
                }
            }
            .box1-2{
                width: 70%;
                height: 100%;
//              background: red;
                float: left;
                ul{
                    width: 100%;
                    height: 100%;
//                  background: yellow;
                    li{
                        width: 100%;
                        height: 33.333%;
                        .box-p1{
                        float: left;
                        font-size: 1.3rem;
                        margin-top: 0.5rem;
                        }
                        .box-p2{
                            width: 2.5rem;
                            font-size: 0.9rem;
                            border-radius: 0.2rem;
                            height: 1.3rem;
                            text-align: center;
                            background:#39C993 ;
                            color: white;
                            float: left;
                            margin-left: 0.7rem;
                            margin-top: 0.7rem;
                        }
                        .pa{
                            float: left;
                            font-size: 0.9rem;
                            line-height: 2.4rem;
                        }
                        .pa1{
                            color: #999;
                        }
                        .pa2{
                            float: left;
                            font-size: 0.9rem;
                        }
                        .pa3{
                            float: left;
                            font-size: 0.9rem;
                            margin-top: -0.7rem;
                            line-height: 1.5rem;
                        }
                    }                    
                }
            }
        }
    }
}
.box2{
    width: 100%;
    height: 7rem;
//  background: yellow;
    margin-top: 4rem;
    ul{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        li{
            width: 28.3333%;
            height: 100%;
            float: left;
            text-align: center;
            div{
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;                
                margin: 0 auto;
                text-align: center;
                line-height: 3.5rem;
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
}
.box3{
    width: 92%;
    height: 10.5rem;
//  background: red;
    margin: 0 auto;
    margin-top: 1rem;
    p{
        font-size: 1rem;
        float: left;
        line-height: 1.8rem;
    }
    span{
        font-size: 1rem;
        color: #999;
        line-height: 1.8rem;
        letter-spacing: 0.1rem;
    }
}
.box4{
    width: 100%;
    border-top: 0.3rem solid #F4F4F4;
    margin-top: 1rem;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap:  wrap;
        margin-top: -1rem;
        li{
            width: 47%;
            height: 12rem;
            background: white;
            float: left;
            margin-top: 0.5rem;
            text-align: center;
            img{
                width: 100%;
            }
            p{
                line-height: 1.5rem;
            }
            .p1{
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }
            .p2{
                font-size: 0.75rem;
                color: #999;
            }
        }
    }
}
.boxx{
    width: 100%;
    background: white;
    .p3{
//      background: red;
        float: left;
        height: 1.7rem;
        line-height: 1.5rem;
        border-left:0.3rem solid #3CC995;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        margin-left: 1rem;
        margin-top: 1rem;
        text-align: center;
        width: 7rem;
    }
    span{
        margin-left: 0.2rem;
        line-height: 4.4rem;
        color:#999 ;
        font-size: 0.8rem;
    }
}
.box9{
    height: 11rem;
    border-top: 0.5rem solid #f4f4f4;
    margin-top: 1rem;
    border-bottom: 0.5rem solid #f4f4f4;
    div{
        width: 92%;
        height: 90%;
        margin: 0 auto;
//      background: yellow;
        padding-top: 1.2rem;
        p{
            font-size: 1rem;
            text-indent: 2rem;
            line-height: 2.2rem;
        }
    }
}
footer{
    width: 100%;
    height: 6rem;
    background: white;
    margin-top: 0.8rem;
    text-align: center;
    padding-top: 1rem;
    div{
        width: 100%;
        height: 2rem;
        p{
            float: left;
            margin-left: 5.5rem;
            color: #39C893;
            margin-top: 0.1rem;
        }
        span{
            font-size: 1.1rem;
            float: left;
        }
    }
        
    ul{
        width: 100%;
        height: 4rem;
//      background: yellow;
        li{
            width: 25%;
            height: 100%;
            text-align: center;
            float: left;
            margin-top: 1rem;
            font-size: 1.1rem;
        }
    }
}