* {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  width: 100%;
  height: 0.51rem;
  border-bottom: 0.03rem solid #F4F4F4;
  padding: 0 0 0.1rem 0;
  display: flex;
  justify-content: space-around; }
  header .hea-le {
    width: 50%;
    height: 100%;
    float: left; }
    header .hea-le img {
      width: 1.16rem;
      height: 0.44rem;
      margin-top: 0.06rem;
      margin-left: 0.085rem; }
  header .hea-zho {
    width: 37%;
    height: 100%;
    float: left;
    font-size: 0.18rem;
    line-height: 0.6rem;
    text-align: center;
    margin-left: 0.3rem; }
  header .hea-ri {
    width: 50%;
    height: 100%;
    float: left; }
    header .hea-ri ul {
      width: 100%;
      height: 100%;
      list-style: none; }
      header .hea-ri ul li {
        height: 100%;
        float: right;
        text-align: center;
        margin-right: 0.1rem; }
        header .hea-ri ul li span {
          font-size: 0.16rem;
          color: #999999; }
        header .hea-ri ul li p {
          font-size: 0.16rem;
          color: #999999; }
        header .hea-ri ul li .p1 {
          margin-top: 0.08rem; }

.banner {
  width: 100%;
  height: 0.5rem;
  font-size: 0.18rem;
  margin-top: 0.2rem;
  border-bottom: 0.03rem solid #F4F4F4; }
  .banner ul {
    width: 100%;
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: space-around; }
    .banner ul li {
      border-right: 0.01rem solid #F4F4F4; }
      .banner ul li span {
        padding-right: 0.2rem;
        font-size: 0.18rem; }

.box1 {
  width: 100%;
  background: #EAEAEA; }
  .box1 ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .box1 ul li {
      width: 47%;
      background: white;
      float: left;
      margin-top: 0.15rem;
      text-align: center; }
      .box1 ul li img {
        width: 100%; }
      .box1 ul li .p1 {
        font-size: 0.18rem; }
      .box1 ul li .p2 {
        font-size: 0.1rem;
        color: #999; }

.box2 {
  width: 100%;
  height: 1rem;
  margin-top: 0.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA; }
  .box2 button {
    border: none; }
  .box2 .but1 {
    width: 1.175rem;
    height: 0.41rem;
    background: #39C893;
    color: white;
    font-size: 0.18rem; }
  .box2 .but2 {
    width: 1.175rem;
    height: 0.41rem;
    background: white;
    font-size: 0.18rem; }

.box9 {
  height: 2rem;
  float: left; }
  .box9 div {
    width: 92%;
    height: 90%;
    margin: 0 auto;
    padding-top: 0.2rem; }
    .box9 div .pp {
      font-size: 0.16rem;
      line-height: 0.2rem; }

.mb {
  width: 100%;
  height: 0.725rem;
  background: black;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9); }
  .mb .img1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.24rem;
    height: 0.24rem; }
  .mb .img2 {
    width: 0.54rem;
    height: 0.47rem;
    margin-left: 0.5rem;
    margin-bottom: 0.4rem; }
  .mb .p1 {
    color: #eed215;
    position: absolute;
    top: 0.1rem;
    left: 1.1rem;
    font-size: 0.16rem; }
  .mb .p2 {
    color: white;
    position: absolute;
    top: 0.4rem;
    left: 1.1rem;
    font-size: 0.16rem; }
  .mb button {
    width: 1rem;
    height: 0.25rem;
    background: #feb605;
    border: none;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.2rem;
    right: 0.01rem;
    color: white;
    font-size: 0.16rem; }

footer {
  width: 100%;
  border-top: 0.03rem solid #F4F4F4;
  height: 2rem;
  background: white;
  margin-top: 1.3rem;
  text-align: center;
  font-size: 0.16rem; }
  footer div {
    width: 100%;
    height: 0.5rem; }
    footer div p {
      float: left;
      margin-left: 0.6rem;
      color: #39C893;
      margin-top: 0.01rem; }
    footer div span {
      font-size: 0.16rem;
      float: left; }
  footer ul {
    width: 100%;
    height: 0rem; }
    footer ul li {
      width: 25%;
      text-align: center;
      float: left;
      margin-top: 0.05rem;
      font-size: 0.16rem; }

/*# sourceMappingURL=4.css.map */
